---
language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  - DEPS=normal
  - DEPS=highest
  - DEPS=lowest

matrix:
  fast_finish: true

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.composer/cache

notifications:
  email: false
  slack:
    secure: j0M/YHcUXUB3WIkGM2zVodP7FePghAJ4WsqsloTHfelGTbO3MNfA7bQy+rqixm3bSd4EoAa5AKt74eyDzORkpovXQX0gcP6HsskSNoRUthP1tNPj0c8/yvpWExOcQQO3l39vAJKpdKGOp/KXraU0j36m9lbte2e+Pyg0kUHKDaA=

before_install: travis_retry composer selfupdate --preview

install:
  - if [ "$DEPS" = "normal" ]; then travis_retry composer install --no-interaction; fi;
  - if [ "$DEPS" = "highest" ]; then travis_retry composer update --no-interaction; fi;
  - if [ "$DEPS" = "lowest" ]; then travis_retry composer update --no-interaction --prefer-lowest --prefer-stable; fi;

before_script:
  - mkdir -p build/logs
  - mysql -e 'create database `test-services-manager`;'
  - mysql test-services-manager < tests/test_data/structure.sql

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
